@import "../../global.scss";

.topbar
{
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColor;
    transition: all 1s ease;
    position:fixed;
    top: 0;
    z-index: 3; // get see top bar when you scroll to different section
    .wrapper{
        padding: 10px 30px; 
        display:flex;
        align-items: center;
        justify-content: space-between; // space contents
        
        .left{
            display: flex;
            align-items: center;
            .logo{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit; // inherit color from parents
                margin-right:40px;
            }
            .itemContainer{
                display: flex;
                align-items: center;
                margin-left:30px;
                .icons{
                    font-size: 18px;
                    margin-right: 5px;
                }
                a{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .right
        {
            .hamburger{
                height:25px;
                width: 32px;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active
    {
        background-color: $mainColor;
        color:white;

        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform:rotate(45deg);
                }
                &:nth-child(2)
                {
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform:rotate(-45deg);
                }
            }
        }
    }
}